* {
    padding: 20px;
}
/*.x {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    height: 50%;
}*/

.searchbar {
    border-radius: 50px;
    margin-bottom: 10px;
    width: 30%;
}

.links {
    text-align: right;
}

.search_button {
    border-radius: 50px;
}

#advanced_button {
    background-color: blue;
    color: white;
}

